<section id="contact" class="contact section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Карта</h2>
    <p>Мы всегда рады вас видеть — вот наше местоположение на карте:</p>
  </div>

  <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d46.8692926!3d43.2036859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404e7afdcf1740f5%3A0x430dbc7607df2a72!2z0J3Qu9C40YfQuNCy0LrQsNGG!5e0!3m2!1ru!2sus!4v1676961268712!5m2!1ru!2sus"
      width="100%"
      height="400"
      style="border:0; border-radius:8px;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
  </div>
</section>