<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Заголовок секции -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Контакты</h2>
        <p>Необходимые действия для достижения целей, несмотря на все сложности и препятствия</p>
    </div><!-- Конец Заголовка секции -->

    <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d46.8692926!3d43.2036859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404e7afdcf1740f5%3A0x430dbc7607df2a72!2z0J3Qu9C40YfQuNCy0LrQsNGG!5e0!3m2!1ru!2sus!4v1676961268712!5m2!1ru!2sus"
                width="100%"
                height="270"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
        </iframe>

    </div><!-- Конец Google Maps -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Местоположение</h3>
                        <p>Улица Вишневского, дом 31, Кизилюрт, Дагестан, Россия, 367913</p>
                    </div>
                </div><!-- Конец элемента информации -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Позвоните нам</h3>
                        <p>+7 988 303-97-03</p>
                    </div>
                </div><!-- Конец элемента информации -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Напишите нам</h3>
                        <p>aclinickiz@mail.ru</p>
                    </div>
                </div><!-- Конец элемента информации -->

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                      data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Ваше имя" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Ваш email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Тема" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Сообщение"
                                      required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Загрузка</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Ваше сообщение отправлено. Спасибо!</div>

                            <button type="submit">Отправить сообщение</button>
                        </div>

                    </div>
                </form>
            </div><!-- Конец формы контакта -->

        </div>

    </div>

</section><!-- /Contact Section -->
