{% load static %}
<section id="departments" class="departments section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Отделы</h2>
        <p>Необходимость этого действия вызвана некоторыми обстоятельствами, которые требуют внимательности и
            сосредоточенности</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    {% for department in departments %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                           href="#department-tab-{{ department.id }}">
                            {{ department.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    {% for department in departments %}
                    <div class="tab-pane {% if forloop.first %}active show{% endif %}"
                         id="department-tab-{{ department.id }}">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>{{ department.name }}</h3>
                                <p class="fst-italic">{{ department.bio }}</p>
                                <p>{{ department.description }}</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{{ department.photo.url }}" alt="{{ department.name }}" class="img-fluid">

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
