<!-- Doctors Section -->
{% load static %}
<section id="doctors" class="doctors section">

    <!-- Заголовок раздела -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Доктора</h2>
        <p>Необходимость этого действия вызвана некоторыми обстоятельствами, которые требуют внимательности и
            сосредоточенности</p>
    </div><!-- Конец заголовка раздела -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Уолтер Уайт</h4>
                        <span>Главный врач</span>
                        <p>Объяснение проблем и решение вопросов, связанных с болезнями</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!-- Конец члена команды -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Сара Джонсон</h4>
                        <span>Анестезиолог</span>
                        <p>Лечение заболеваний, связанных с анестезией и хирургическими вмешательствами</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!-- Конец члена команды -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Уильям Андерсон</h4>
                        <span>Кардиология</span>
                        <p>Лечение заболеваний сердца и сосудов, диагностика сердечно-сосудистых заболеваний</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!-- Конец члена команды -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Аманда Джепсон</h4>
                        <span>Нейрохирург</span>
                        <p>Хирургическое лечение заболеваний нервной системы и головного мозга</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div><!-- Конец члена команды -->

        </div>

    </div>

</section><!-- /Doctors Section -->