{% extends "a_clinic/base.html" %}
{% load static %}

{% block title %}{{ doctor.name }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card border-0 shadow-lg">
        <div class="row g-0">
            <!-- Левая часть -->
            <div class="col-lg-4 p-4 d-flex flex-column align-items-center">
                <div class="w-100" style="max-width: 300px;">
                    {% if doctor.photo %}
                    <img src="{{ doctor.photo.url }}" alt="{{ doctor.name }}"
                         class="img-fluid rounded"
                         style="width: 100%; height: auto; max-height: 400px; object-fit: contain;">

                    {% else %}
                    <img src="{% static 'img/default_user.png' %}" alt="Фото отсутствует"
                         class="img-fluid rounded"
                         style="width: 100%; height: auto; max-height: 400px; object-fit: contain;">

                    {% endif %}
                </div>

                {% if doctor.video_presentation %}
                <!-- Кнопка открытия модального окна -->
                <button type="button" class="btn btn-outline-secondary w-100 mt-3" data-bs-toggle="modal"
                        data-bs-target="#videoModal">
                    🎥 Видео-презентация
                </button>

                <!-- Модальное окно -->
                <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="videoModalLabel">Видео-презентация врача</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="ratio ratio-16x9">
                                    <iframe src="{{ doctor.video_presentation|cut:'watch?v='|add:'embed/' }}"
                                            title="Видео-презентация" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% if doctor.appointments_url %}
                <a href="{% url 'appointment' slug=doctor.slug %}" class="btn btn-success w-100 mt-2">
                    🗓️ Записаться
                </a>

                {% endif %}
                <div class="text-center mt-3">
                    <a href="{% url 'testimonials_doctor' slug=doctor.slug %}" class="btn btn-outline-primary">
                        <i class="bi bi-chat-left-text"></i> Посмотреть отзывы
                    </a>
                </div>
            </div>

            <!-- Правая часть -->
            <div class="col-lg-8 p-4">
                <h2 class="fw-bold">{{ doctor.name }}</h2>
                <h5 class="text-primary">{{ doctor.department.name }}</h5>

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <p><strong>Стаж:</strong>
                            {%if doctor.experience_years%}
                            {{ doctor.experience_years }} лет
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                        <p><strong>Образование:</strong>
                            {%if doctor.education%}
                            {{ doctor.education}}
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                        <p><strong>Рабочие дни:</strong><br>
                            {%if doctor.working_days%}
                            {{ doctor.working_days|linebreaks }}
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                        <p><strong>Часы:</strong><br>
                            {%if doctor.working_hours%}
                            {{ doctor.working_hours|linebreaks }}
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p><strong>Пол:</strong>
                            {%if doctor.get_gender_display%}
                            {{ doctor.get_gender_display }}
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                        <p><strong>Онлайн-консультации:</strong>
                            {{ doctor.accepts_online|yesno:"Да,Нет" }}</p>
                        <p><strong>Цена за приём:</strong> {%if doctor.price_per_consultation%}
                            {{ doctor.price_per_consultation }} ₽
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                        <p><strong>Средний рейтинг по отзывам:</strong>
                            {% if average_rating %}
                            {{ average_rating }} ⭐
                            {% else %}
                            Нет отзывов
                            {% endif %}
                        </p>
                        <p><strong>SEO описание:</strong>
                            {%if doctor.seo_description%}
                            {{ doctor.seo_description}}
                            {%else%}
                            Не указано
                            {%endif%}
                        </p>
                    </div>
                </div>

                {% if doctor.bio %}
                <div class="mt-4">
                    <h5>📘 Биография</h5>
                    <p class="text-muted">{{ doctor.bio|linebreaks }}</p>
                </div>
                {% endif %}

                {% if doctor.special_services %}
                <div class="mt-4">
                    <h5>💼 Специальные услуги</h5>
                    <p class="text-muted">{{ doctor.special_services|linebreaks }}</p>
                </div>
                {% endif %}

                {% if doctor.social_links %}
                <div class="mt-4">
                    <h5>📱 Социальные сети</h5>
                    <div class="d-flex gap-3 fs-4">
                        {% if doctor.social_links.telegram %}
                        <a href="{{ doctor.social_links.telegram }}" class="text-primary" target="_blank"><i
                                class="bi bi-telegram"></i></a>
                        {% endif %}
                        {% if doctor.social_links.instagram %}
                        <a href="{{ doctor.social_links.instagram }}" class="text-danger" target="_blank"><i
                                class="bi bi-instagram"></i></a>
                        {% endif %}
                        {% if doctor.social_links.whatsapp %}
                        <a href="{{ doctor.social_links.whatsapp }}" class="text-success" target="_blank"><i
                                class="bi bi-whatsapp"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
