<!-- Faq Section -->
<section id="faq" class="faq section light-background">

    <!-- Заголовок раздела -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Часто задаваемые вопросы</h2>
        <p>Здесь вы найдете ответы на самые популярные вопросы наших пациентов. Мы собрали полезную информацию, чтобы
            помочь вам быстро разобраться в интересующих вас темах.</p>
    </div><!-- Конец заголовка раздела -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

                <div class="faq-container">
                    {% for f in faq %}
                    <div class="faq-item">
                        <h3>{{ f.question }}</h3>
                        <div class="faq-content">
                            <p>{{ f.answer }}</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- Конец элемента FAQ -->
                    {% endfor %}
                </div>

            </div><!-- Конец столбца FAQ -->
        </div>
    </div>

</section><!-- /Faq Section -->
