<!-- Gallery Section -->
{% load static %}
<section id="gallery" class="gallery section">

    <!-- Заголовок секции -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Галерея</h2>
        <p>Необходимые действия для достижения целей, несмотря на все сложности и препятствия</p>
    </div><!-- Конец Заголовка секции -->

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-1.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-2.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-3.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-4.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-5.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-6.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-7.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/gallery-8.jpg' %}" class="glightbox"
                       data-gallery="images-gallery">
                        <img src="{% static 'img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div><!-- Конец элемента галереи -->

        </div>

    </div>

</section><!-- /Gallery Section -->