{% load static %}
<header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:aclinickiz@mail.ru">aclinickiz@mail.ru</a></i>
                <a href="tel:+79883039703"><i
                        class="bi bi-phone d-flex align-items-center ms-4"><span>+7 988 303-97-03</span></i>
                </a>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://www.instagram.com/aclinic_kiz/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://wa.me/79883039703" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div><!-- Конец Верхней панели -->

    <div class="branding d-flex align-items-center">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="{%url 'home'%}" class="logo d-flex align-items-center me-auto">
                <!-- Раскомментируйте строку ниже, если хотите использовать логотип с изображением -->
                <!-- <img src{% static 'img/logo.png' %} alt=""> -->
                <h1 class="sitename">A’CLINIC</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Главная<br></a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#departments">Отделы</a></li>
                    <li><a href="#doctors">Врачи</a></li>
                    <li><a href="#testimonials">Отзывы</a></li>
                    <li><a href="#contact">Карта</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="cta-btn d-none d-sm-block" href="#appointment">Записаться на прием</a>

        </div>

    </div>

</header>
