<!-- Hero Section -->
{% load static %}
<section id="hero" class="hero section light-background">

    <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

    <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
            <h2>A’CLINIC — забота, которой можно доверять</h2>
            <p>Квалифицированные врачи. Современное оборудование. Надёжное лечение.</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
                    <h3>Почему выбирают A’CLINIC?</h3>
                    <p>
                        Мы стремимся предоставить нашим пациентам наилучший медицинский сервис — от первичной
                        консультации до полного выздоровления. Команда опытных специалистов, современное оборудование и
                        индивидуальный подход к каждому — вот что делает нас по-настоящему надёжной клиникой.
                    </p>
                    <div class="text-center">
                        <a href="#about" class="more-btn"><span>Подробнее</span> <i
                                class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="d-flex flex-column justify-content-center">
                    <div class="row gy-4">

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Квалифицированные врачи</h4>
                                <p>Все наши специалисты имеют многолетний опыт и регулярно проходят повышение
                                    квалификации.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                                <i class="bi bi-gem"></i>
                                <h4>Современное оборудование</h4>
                                <p>Используем передовые технологии диагностики и лечения для достижения наилучших
                                    результатов.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                                <i class="bi bi-inboxes"></i>
                                <h4>Безопасность и комфорт</h4>
                                <p>Соблюдаем строгие медицинские протоколы и создаём уютную атмосферу, чтобы вы
                                    чувствовали себя уверенно.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>
            </div>
        </div><!-- End  Content-->

    </div>

</section><!-- /Hero Section -->