{% extends "a_clinic/base.html" %}

{% block title %}A’clinic{% endblock %}

{% block content %}
{% include 'clinic/hero.html' %}
{% include 'clinic/about.html' %}
{% include 'clinic/stats.html' %}
{% include 'clinic/services.html' %}
{% include 'clinic/appointment.html' %}
{% include 'clinic/departments.html' %}
{% include 'clinic/doctors.html' %}
{% include 'clinic/faq.html' %}
{% include 'clinic/testimonials.html' %}
{% include 'clinic/gallery.html' %}
{% include 'clinic/contact.html' %}
{% endblock %}
